<div class="header">
    <div class="three__div">
        <div class="logo">
            <div class="menu logo__item">
                <span class="material-icons">
                    menu
                </span>
            </div>
            <div class="youtube logo__item">
                <a href="/">
                    <img src="./image/log.png" alt="">
                </a>
            </div>
        </div>
        <div class="input__field">
            <form action="/watch" id="form__header">
                <input type="text" name="search" id="" class="input__items"
                    placeholder="Search">
                <button class="input__items" id="btn">
                    <span class="material-icons">
                        search
                    </span>
                </button>
                <div class="recorder" class="input__items">
                    <span class="material-icons">
                        mic
                    </span>
                </div>
            </form>
        </div>
        <div class="info">
            <ul>
                <li class="info__item">
                    <span class="material-icons">
                        video_call
                    </span>
                </li>
                <li class="info__item">
                    <span class="material-icons">
                        apps
                    </span>
                </li>
                <li class="info__item">
                    <span class="material-icons">
                        notifications
                    </span>
                </li>
                <li class="info__item" id="image__info">
                    <img src="./image/md.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>