 <div class="left__nav">
    <ul>
        <li>
            <span class="material-icons icon__items" id="homeIcon">
                home
            </span>
            <span class="left__nav__item">
                Home
            </span>
        </li>
        <li>
            <span class="material-icons icon__items">
                explore
            </span>
            <span class="left__nav__item">
                Explore
            </span>
        </li>
        <li>
            <span class="material-icons icon__items">
                subscriptions
            </span>
            <span class="left__nav__item">
                Subscription
            </span>
        </li>
        <hr>
        <li>
            <span class="material-icons icon__items">
                video_library
            </span>
            <span class="left__nav__item">
                Library
            </span>
        </li>
        <li>
            <span class="material-icons icon__items">
                history
            </span>
            <span class="left__nav__item">
                History
            </span>
        </li>
        <li>
            <span class="material-icons icon__items">
                smart_display
            </span>
            <span class="left__nav__item">
                Your videos
            </span>
        </li>
        <li>
            <span class="material-icons icon__items">
                watch_later
            </span>
            <span class="left__nav__item">
                Watch later
            </span>
        </li>
        <li>
            <span class="material-icons icon__items">
                thumb_up
            </span>
            <span class="left__nav__item">
                Liked videos
            </span>
        </li>
        <li>
            <span class="material-icons icon__items">
                expand_more
            </span>
            <span class="left__nav__item">
                Show more
            </span>
        </li>
    </ul>
</div>